{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h2>만화, 웹툰 영상화</h2>
        </div>
        <div>
            <form action="{% url 'animateapp:create' %}"
                  enctype="multipart/form-data"
                  method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div id="imagePreview" style="margin-top:10px; display:none;">
                    <img id="imgArea" onerror="imgAreaError()"/>
                </div>
                <div class="m-5">
                    <input type="submit" class="btn btn-dark rounded-pill px-5">
                </div>

            </form>
        </div>
    </div>

    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imgArea').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(":input[name='image']").change(function() {
            if( $(":input[name='image']").val() == '' ) {
                $('#imgArea').attr('src' , '');
            }
            $('#imagePreview').css({ 'display' : '' });
            readURL(this);
        });

        // 이미지 에러 시 미리보기영역 미노출
        function imgAreaError(){
            $('#imagePreview').css({ 'display' : 'none' });
        }
    </script>

{% endblock %}